*.[oa]
*~
*.obj
*.pro.user*
.tmp/*

docs/doxy/*
!docs/doxy/html

*/sys/*/*/*
sys/*/*/*
!sys/*/*/*.udoc
!sys/*/*.udoc
!sys/*.udoc
prj/*/*/*
!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*/*.pro
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
workspaces/*/*
!workspaces/*/*.sln
moc_*.cpp
.gitattributes
.DS_Store
.qmake.stash
src/.original/*/*
contrib/doocs/*
#include/.private/*.h
#include/.private/*/*.h
.test/*
.test/*/*
.test/*/*/*
